.btn {
    font-size: 16px;
    font-weight: bold;
    padding: 18px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    background: $red;
    color: white;
    text-decoration: none;
    border: none;

    &:hover {
        background: #CA1B36;
    }

    &--transparent {
      background: transparent;  
      text-transform: none;

      &:hover {
          color: $red;
          background: transparent;
      }
    }
}


