$conteinerWidth: 915px;
$baseFontSize: 16px;

$red: #E01F3D;
$grey:#666666;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Play:wght@400;700&display=swap');
@import "normalize.scss";
@import "layout";

@import "blocks/hero";
@import "blocks/header"; 
@import "blocks/features";
@import "blocks/feature";
@import "blocks/btn";
@import "blocks/section";
@import "blocks/headline__title";
@import "blocks/benefits";
@import "blocks/benefit";
@import "blocks/reviews";
@import "blocks/interactive-avatar";
@import "blocks/form";
@import "blocks/order";
@import "blocks/radio";