.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    margin: 0 3%;

    &:before {
        content: url("../img/icons/Combined-2204.png");
        position: absolute;
        top: 54px;
        right: -22px;
        transform: translateX(50%);
        
    }

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
        &::before {
            display: none;
        }
        
    }

}