.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 25px;

    &last-child {
        margin-right: 0;
    }
}
.menu__link {
    text-decoration: none;
}
.phone-number {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.phone-number__icon-pic {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}